@use "../../scss/variables.scss" as vars;
.button {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 16px 24px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid transparent;
  & > svg {
    pointer-events: none;
  }

  &--outline {
    border-color: vars.$color-purple-gray;
    &:hover {
      background-color: vars.$color-rgba-light-purple;
    }
    &:active {
      background-color: vars.$color-rgba-semi-transparent-purple;
    }
  }

  &--filled {
    background-color: vars.$color-midnight-purple;
    &:hover {
      background-color: vars.$color-lavender;
    }
    &:active {
      background-color: vars.$color-dark-purple;
    }
  }

  &--image {
    padding: 0;
    height: min-content;
    flex: none;
    background-color: transparent;

    &:hover {
      background-color: vars.$color-light-blue;
    }
    &:active {
      background-color: vars.$color-light-lavender;
    }
  }
}
