@use "../../scss/variables.scss" as vars;

.moneyInput {
  position: relative;

  &__dollar {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(8px);
  }
  &__input {
    padding: 16px 16px 16px 40px;
    border: 1px solid vars.$color-dark-white;
    border-radius: 4px;
    width: -webkit-fill-available;
    &:focus,
    &:active {
      border-color: vars.$color-midnight-purple;
      outline: none;
    }
  }
}
